/* ----------------------------------- GLOBAL STYLES ----------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #e2fced;
}
nav {
  background-color: #b8f9d3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vw;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  border: 1px solid black;
}
.Newnav {
  z-index: 3;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* ---------------------------------- COMPONENT STYLES ----------------------------------  */
#logo {
  width: 7vw;
  height: 7vw;
}
#logo-container {
  display: flex;
  align-items: center;
  padding: 1vw;
}
.search {
  height: 4.3vw;
  width: 4.3vw;
  background-color: #f0f5ff;
}
#search-form {
  display: flex;
}
#search-form input {
  width: 20vw;
  padding: 2vw;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}
#search-form button {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}
.nav_ul {
  display: flex;
  gap: 1vw;
}
.nav_ul > li {
  padding: 1vw;
  border: 2px solid white;
  border-radius: 0.3vw;
  box-shadow: inset 0 0 10px white;
  height: 4vw;
  margin-top: 1vw;
}
.nav_ul > li:hover {
  border: 2px solid white;
  box-shadow: 0 0 10px white;
}
#Login {
  width: 7vw;
  height: 4vw;
  display: flex;
  gap: 0.5vw;
  justify-content: center;
  align-items: center;
  padding-right: 0.2vw;
}
#Login img {
  transition: all 0.5s ease 0s;
}
#Login:hover img {
  transform: rotate(90deg);
}
/* -----------------------------copied */
.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0.6vw;
  border: 2px solid white;
  border-radius: 0.3vw;
  box-shadow: inset 0 0 10px white;
}

.btn-container i {
  display: inline-block;
  position: relative;
  top: -9px;
}

label {
  font-size: 13px;
  color: #424242;
  font-weight: 500;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 135px;
  height: 30px;
  background: #e0e0e0;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 7px;
  right: 20px;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 70px;
  height: 26px;
  background: #fff;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
}

.btn-color-mode-switch > .alert {
  display: none;
  background: #ff9800;
  border: none;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner {
  background: #151515;
  color: #fff;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 68px;
  background: #3c3c3c;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert {
  display: block;
}

.dark-preview {
  background: #0d0d0d;
}

.white-preview {
  background: #fff;
}
.nav-dropdown {
  width: 30vw;
  height: 30vw;
  padding: 1.8vw;
  position: absolute;
  top: 7vw;
  left: 47vw;
  display: flex;
  gap: 3vw;
  background-color: white;
  border: 2px solid black;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}
#nav-image {
  width: 10vw;
  height: 14vw;
}
#nav-image-container {
  background-color: #e0e0e0;
  padding: 2vw;
  width: 14vw;
  box-shadow: inset 0 0 10px black;
}
.nav-dropdown h6 {
  font-size: 1.1rem;
  line-height: 1.2rem;
  border-bottom: 1px solid black;
  text-align: center;
  padding-bottom: 0.5vw;
}
.nav-dropdown ul {
  margin-bottom: 1.3vw;
  line-height: 1.2rem;
  text-align: center;
  color: rgb(112, 112, 112);
}
.Category-drop,
.Products-drop,
.Gift-Cards-drop {
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s;
  pointer-events: none;
}
#Categories:hover nav {
  z-index: 2;
}

#Categories:hover .Category-drop {
  z-index: 5;
  opacity: 1;
  pointer-events: auto; /* Enable interactions when the button is hovered */
}
#Products:hover .Products-drop {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
}
#Gift-Cards:hover .Gift-Cards-drop {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
}

/* Main */
#upperSection {
  display: grid;
  width: 100%;
  height: 55vw;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "item1   item1   item1   item1   item7   item7   item7"
    "item1   item1   item1   item1   item7   item7   item7"
    "fText   fText   fText   fText   item7   item7   item7"
    "item2   item3   item4   item5   item7   item7   item7"
    "item2   item3   item4   item6   item7   item7   item7"
    "item2   item3   item4   item6   item7   item7   item7";
  gap: 1vw;
}
#upperSection > div {
  background-color: #b8f9d3;
  border-radius: 2vw;
  border: 2px solid black;
}
main {
  background-color: #e2fced;
  padding: 30px;
  margin-top: 10vw;
}
#carousel {
  grid-area: item1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vw;
  width: 100%;
}
#carouselExampleIndicators {
  border: 2px solid black;
}
#feature-text {
  grid-area: fText;
  display: flex;
  align-items: center;
  padding-left: 2vw;
  font-size: 3.5vw;
  font-family: Big Shoulders Stencil;
  letter-spacing: 0.3vw;
}
.features {
  padding: 1vw;
  font-family: Poppins;
  transition: all 0.3s ease-in-out;
}
.features:hover {
  transform: scale(1.01) translateY(-2px);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.514);
}
/* feature 1 */
#feature1 span {
  position: absolute;
  overflow: hidden;
  width: 100px;
  height: 100px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#feature1 span::before {
  content: "Discount";
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(
    45deg,
    #18c2ce 0%,
    #001aff 51%,
    #18c2ce 100%
  );
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 13px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

#feature1 span::after {
  content: "";
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #cc3f47;
  background-image: linear-gradient(
    45deg,
    #18c2ce 0%,
    #001aff 51%,
    #18c2ce 100%
  );
}
#feature1 {
  grid-area: item2;
  position: relative;
}
#feature-image1 {
  border-radius: 2vw;
  border: 1px solid black;
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 1vw;
}

/* feature 2 */
#feature2 span {
  position: absolute;
  overflow: hidden;
  width: 100px;
  height: 100px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#feature2 span::before {
  content: "Choices";
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(
    45deg,
    #18c2ce 0%,
    #001aff 51%,
    #18c2ce 100%
  );
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 13px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

#feature2 span::after {
  content: "";
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #cc3f47;
  background-image: linear-gradient(
    45deg,
    #18c2ce 0%,
    #001aff 51%,
    #18c2ce 100%
  );
}
#feature2 {
  grid-area: item3;
  position: relative;
}
#feature-image2 {
  border-radius: 2vw;
  border: 1px solid black;
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 1vw;
}

/* feature 3 */
#feature3 span {
  position: absolute;
  overflow: hidden;
  width: 100px;
  height: 100px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#feature3 span::before {
  content: "Trendy";
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(
    45deg,
    #18c2ce 0%,
    #001aff 51%,
    #18c2ce 100%
  );
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 13px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

#feature3 span::after {
  content: "";
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #cc3f47;
  background-image: linear-gradient(
    45deg,
    #18c2ce 0%,
    #001aff 51%,
    #18c2ce 100%
  );
}
#feature3 {
  grid-area: item4;
  position: relative;
}
#feature-image3 {
  border-radius: 2vw;
  border: 1px solid black;
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.3vw;
}
#info {
  grid-area: item5;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.1s ease-in-out;
  padding: 10px;
  text-align: center;
}
#info:hover {
  transform: scale(1.05) translateY(-4px);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.514);
}
#stats {
  grid-area: item6;
  text-align: center;
  padding: 1vw;
}
#stats:hover {
  transform: scale(1.05) translateY(-4px);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.514);
}
.stats-text {
  font-size: 0.6vw;
  line-height: 1rem;
}
#stats-upper {
  border: 1px solid black;
  border-top-left-radius: 1.5vw;
  border-top-right-radius: 1.5vw;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.507);
}
#stats-lower {
  border: 1px solid black;
  margin-top: 12px;
  border-bottom-left-radius: 1.5vw;
  border-bottom-right-radius: 1.5vw;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.507);
}
#mainRight {
  grid-area: item7;
  background-color: #b8f9d3;
  border: 2px solid black;
  padding: 3vw;
}
#recommendation-text {
  font-size: 3.5vw;
  font-family: Big Shoulders Stencil;
  letter-spacing: 0.3vw;
  display: flex;
  justify-content: center;
}
/* from uiverse */
.card {
  width: 13.5vw;
  height: 19.5vw;
  background-color: #b8f9d3;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-weight: 900;
  padding: 1vw;
  border: 1px solid black;
  overflow: hidden;
  z-index: 4;
}

.card:hover {
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background: rgb(103, 151, 255);
}
.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  opacity: 1;
  border-radius: 15px;
}
.card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}
#recommend-container {
  padding: 2vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2vw;
  grid-template-areas:
    "item1  item2"
    "item3  item4";
}
#card-1 {
  grid-area: item1;
}
#card-2 {
  grid-area: item2;
}
#card-3 {
  grid-area: item3;
}
#card-4 {
  grid-area: item4;
}
.Rec-Image-container {
  position: relative;
  border: 2px solid black;
  height: 7vw;
  background: linear-gradient(
    90deg,
    rgba(158, 158, 158, 1) 0%,
    rgba(254, 254, 254, 1) 100%
  );
  width: 11.5vw;
}
.Rec-Image-container > img {
  width: 12vw;
  position: absolute;
  top: 1vw;
}
#card-text {
  font-size: 0.7vw;
  width: 100%;
  margin-top: 1vw;
}
.star {
  font-size: 1.5vw;
}
.filled {
  color: gold;
}
.second-content-text {
  font-size: 1vw;
  color: white;
  border: 1px solid black;
  padding: 0.3vw;
}
